DEBUG=1
SECRET_KEY="django-insecure-loou33wjphdxj-%jj3u67%l7f-y%bqda94p@e#s+$3!w1z^ijrs"
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
POSTGRES_NAME=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432