{% extends 'blog/base.html' %}

{% block content %}
    <h2>{{ post.title }}</h2>
    <p><strong>Post date:</strong> {{ post.published_at }}</p>
    <p><strong>Author:</strong> {{ post.author }}</p>
    <div>
        <p>{{ post.content }}</p>
    </div>
    <p>Comments</p>
    <hr />
    {% for comment in post_comments %}
        <p>{{ comment.author }} ({{ comment.published_at }}) - {{ comment.description }}</p>
        <hr />
    {% endfor %}
    <a href="{% url 'blog:comment' post.id %}">Add new comment</a>
{% endblock %}